/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f07167;
    color: #333;
}

header {
    background-color: #f07167;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 1.8rem;
}

h2 {
    margin: 0;
    font-size: 1.2rem;
}

main {
    padding: 20px;
}

.description {
    background-color: #00afb9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #fff;
}

/* RSVP form styles */
.rsvp-form {
    background-color: #00afb9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
select {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

button[type="submit"] {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/* Confirmation message styles */
#confirmationMessage {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}
